.Signup .head {
  width: 300px;
  margin-bottom: 25px;
}

.Signup .hs-form .hs_jobtitle label span:before {
  content: 'ESCOLHA UMA SENHA:*';
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.Signup form input[type='text'],
.Signup form input[type='email'],
.Signup form input[type='password'],
.Signup form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}
