@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Doce22 .section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.Doce22 .full-screen {
  height: 100vh;
}

/* General styles */
.Doce22 .title {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 65px;
  margin-bottom: -2px;
  color: #fff;
}

.Doce22 .sub-title {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
  color: #fff;
}

.Doce22 .description {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 450px) {
  .Doce22 .title {
    font-size: 50px;
    margin-bottom: 0px;
  }

  .Doce22 .sub-title {
    font-size: 14px;
  }

  .Doce22 .description {
    font-size: 12px;
  }
}

/* Content styles */
.section .content .countdown p {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  margin: -10px 0;
}

.section .content .countdown h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
