@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 50px 0;
}

/* Head styles */
.landing .head .jvwasquevite {
  max-width: 100px;
  margin-bottom: 30px;
}

.landing .head .logo h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: -20px;
}

.landing .head .logo p {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-top: -20px;
  color: white;
  opacity: 0.8;
}

/* Content styles */
.landing .content .open-bar {
  margin-bottom: 30px;
}

.landing .content .open-bar h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
}

.landing .content .open-bar h1 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 65px;
  margin-bottom: -2px;
}

.landing .content .open-bar p {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.landing .content .countdown p {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  margin: -10px 0;
}

.landing .content .countdown h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

/* Foot styles */
.landing .foot {
  padding-top: 20px;
}

.landing .foot .social {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}

.landing .foot .social .icon {
  margin: 5px;
  border-radius: 3px;
}

.landing .foot .social img {
  filter: invert(100%);
  max-width: 18px;
}

.landing .foot .social p {
  margin-right: 5px;
  margin-top: 3px;
  font-family: 'Poppins';
  font-size: 13px;
  color: white;
}

/* Glitch text styles */
.glitch-text,
.glitch-text__clip,
.glitch-text__clip::before,
.glitch-text__clip-left {
  position: relative;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -3px;
  color: white;
  animation: colorSplit 1.25s steps(2, end) infinite;
}
.glitch-text__clip,
.glitch-text__clip::before,
.glitch-text__clip-left {
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 10;
  color: #333;
  overflow: visible;
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 25%,
    0 25%,
    0 30%,
    100% 30%,
    100% 50%,
    0 50%,
    0 60%,
    100% 60%,
    100% 65%,
    0 65%,
    0 80%,
    100% 80%,
    100% 85%,
    0 85%,
    0% 0%
  );
  animation: glitch 1s steps(2, start) infinite;
}
.glitch-text__clip::before {
  content: 'Doce 22';
  left: 0.05em;
  color: white;
  z-index: 9;
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 26%,
    0 26%,
    0 29%,
    100% 29%,
    100% 51%,
    0 51%,
    0 59%,
    100% 59%,
    100% 66%,
    0 66%,
    0 79%,
    100% 79%,
    100% 86%,
    0 86%,
    0% 0%
  );
}

@keyframes colorSplit {
  25% {
    text-shadow: -0.02em 0 0 #ed008c, 0.025em 0 0 #0087ef;
  }
  75% {
    text-shadow: -0.035em 0 0 #ed008c, 0.04em 0 0 #0087ef;
  }
}
@keyframes glitch {
  30% {
    left: 0;
  }
  to {
    left: 0;
  }
}

@media (max-width: 450px) {
  .landing .head .jvwasquevite {
    max-width: 80px;
  }

  .landing .head .logo h3 {
    font-size: 20px;
    margin-bottom: -10px;
  }

  .glitch-text,
  .glitch-text__clip,
  .glitch-text__clip::before,
  .glitch-text__clip-left {
    font-size: 50px;
  }

  .landing .content .countdown p {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: -3px;
  }

  .landing .content .countdown h3 {
    font-size: 12px;
  }

  .landing .content .open-bar h1 {
    font-size: 50px;
    margin-bottom: 0px;
  }

  .landing .content .open-bar h3 {
    font-size: 14px;
  }

  .landing .content .open-bar p {
    font-size: 12px;
  }
}
