.Checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.Checkout .content {
  padding: 15px;
}

@media (max-width: 450px) {
  .Checkout .hubspot-form {
    width: 100%;
  }
}
