.Payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.Payment .content {
  padding: 25px;
}

.Payment .box {
  text-align: center;
  margin-bottom: 20px;
}

.Payment .box .logo-pay {
  max-width: 80px;
}

.Payment .box h3 {
  color: #333;
}

.Payment .box p,
.Payment .box a {
  font-family: 'Poppins' !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2em;
  color: #999 !important;
}

.Payment .box span {
  display: block;
  font-family: 'Poppins' !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #999;
}

.Payment .box .primary {
  font-size: 16px;
  line-height: 1.2em;
  color: #333;
}

.Payment .box .user {
  text-transform: lowercase;
}

.Payment .box img {
  max-width: 180px;
  padding: 10px 0;
}

.Payment .coupon-form {
  padding: 10px;
  border-radius: 0 0 3px 3px;
}

.Payment .coupon-form form {
  display: flex;
}

.Payment .coupon-form form input[type='text'] {
  background: #e8e8e8;
  padding: 5px 10px;
  border-radius: 3px 0 0 3px;
  width: 100%;
  border: 0;
}

.Payment .coupon-form form input[type='submit'] {
  background: #e8e8e8;
  border: 0;
  border-radius: 0px 3px 3px 0px;
  padding: 5px 10px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.Payment .invalid-coupon,
.Payment .valid-coupon {
  padding: 0 10px;
}

.Payment .invalid-coupon span {
  display: block;
  width: 100%;
  background: rgb(210, 0, 0);
  font-family: 'Poppins';
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  border-radius: 3px;
  padding: 5px;
}

.Payment .valid-coupon span {
  display: block;
  width: 100%;
  background: #333;
  font-family: 'Poppins';
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 10px;
  border-radius: 3px;
  padding: 5px;
}

@media (max-width: 450px) {
  .Payment .box {
    width: 100%;
  }
}
