header#Head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#Head .logo {
  max-height: 60px;
  margin-bottom: 20px;
}

#Head .social {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

#Head .social a {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
}

#Head .social a:hover {
  opacity: 0.6;
}

#Head .social img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  #Head {
    position: static;
    padding-bottom: 10px;
  }

  #Head .logo {
    max-height: 50px;
  }

  #Head nav,
  #Head select {
    display: none;
  }

  #Head .social {
    margin-top: 20px;
  }
}
