#Home {
  display: grid;
  width: 1150px;
  margin: 0 auto;
  grid-template-columns: 1fr 570px;
  gap: 100px;
}

#Home main #About {
  display: none;
}

/* For mobile devices */
@media (max-width: 480px) {
  #Home {
    display: block;
    width: 100%;
    padding: 0 30px;
  }

  #Home main #About {
    display: block;
  }
}
