.ArrowDown {
  height: 50px;
  cursor: pointer;
}

.ArrowDown p {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}

.ArrowDown img {
  max-width: 15px;
  margin-top: 10px;
  filter: brightness(100);
  animation: upDown 1.25s infinite;
}

@keyframes upDown {
  50% {
    margin-bottom: -10px;
  }
  100% {
    margin-bottom: 0px;
  }
}
