@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 400;
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

.Tinder .logo-icon {
  filter: invert(100%);
  max-width: 50px;
  margin-bottom: 25px;
}

/* Hubspot form styles */
.Tinder .hs-form label span {
  font-family: Poppins;
  font-size: 13px;
  color: #333;
  text-transform: uppercase;
}

.Tinder .hs-form legend {
  font-family: Poppins;
  font-size: 11px;
  color: #333;
}

.Tinder .hs-form .hs-error-msg {
  display: block;
  width: 100%;
  background: rgb(210, 0, 0);
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  border-radius: 3px;
  padding: 5px;
}

.Tinder .hs-form .hs_jobtitle input {
  font-family: 'password';
}

.Tinder .hs-form input[type='file'] {
  color: #333;
  padding: 5px 0;
}

.Tinder .hs-form .hs-richtext p {
  padding: 10px 0;
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 1.2em;
}

.Tinder .hs-form .hs-button {
  width: 100%;
  border-radius: 5px;
  font-family: 'Poppins';
  letter-spacing: normal;
  font-weight: bold;
  background: #ff4458;
  padding: 8px;
  color: white;
  cursor: pointer;
}

.Tinder .submitted-message p {
  font-family: Poppins;
  padding: 0;
}

.Tinder .submitted-message a {
  font-family: Poppins;
  font-size: 11px;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
}

.Tinder .head .logo-icon {
  max-width: 30px;
  margin-bottom: 0px;
}

.Tinder .head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-family: Poppins;
  color: white;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
}

.Tinder .head .item {
  display: flex;
  align-items: center;
  width: 90px;
  opacity: 0.7;
}

.Tinder .head .item:last-child {
  justify-content: flex-end;
}

.Tinder .head .item img {
  filter: invert(100%);
  max-width: 13px;
  margin-bottom: -3px;
}

.Tinder .head .item span {
  padding: 0 3px;
}

.Tinder .box {
  width: 300px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  text-align: left;
}

.Tinder button {
  width: 300px;
  border-radius: 5px;
  font-family: 'Poppins';
  letter-spacing: normal;
  font-weight: bold;
  background: #ff4458;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.Tinder .flex {
  display: flex;
}

.Tinder form .flex {
  margin-top: 5px;
}

.Tinder form input[type='text'],
.Tinder form input[type='email'],
.Tinder form input[type='password'],
.Tinder select,
.Tinder textarea {
  background: white;
  padding: 10px 15px;
  border-radius: 3px;
  width: 100%;
  border: 0;
}

textarea {
  height: 100px;
}

.Tinder form input[type='password'] {
  border-radius: 3px 0 0 3px;
}

.Tinder form input[type='submit'] {
  background: white;
  border: 0;
  border-radius: 0px 3px 3px 0px;
  padding: 5px 15px;
  font-family: 'Poppins';
  letter-spacing: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
}

.Tinder .invalid {
  width: 100%;
  background: rgb(210, 0, 0);
  margin-top: 5px;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  border-radius: 3px;
  padding: 5px;
}

@media (max-width: 450px) {
  .Tinder .login {
    width: 100%;
  }
}
